doctype html
html(lang="en")
  head
    title Welcome - Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    #main
     form(action="#")
       //div.label login form
       div.username
        input(type="text" placeholder="Email")
       div.password
        input(type="password" placeholder="Password")
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        | Remember me
       button(type="button") Login
       p
        | Don't have an account?
        a(href="#") Sign up