doctype html
html(lang="en")
  head
    title Miina Puuronen
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    #main
     p Routes: 
     ul
        li
            a(href="/post/") Postings
        li
            a(href="/user/") All users (for testing)
        li
            a(href="/post/location/Oulu") Postings from Oulu