body {
    background-color: rgb(148, 148, 148);
    padding: 0;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

p {
    text-align: center;
    color: #000;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(173, 126, 212);
}

a:hover {
    text-decoration: underline;
}