body {
    background-color: rgba(12, 12, 12, 0.63);
    padding: 0;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input:focus,
button:focus {
    outline: none;
}

button {
    background: #a463da;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #b480df;
}

.checkbox {
    color: #808080;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    color: #000;
}

.fa {
    float: left;
    font-size: 18px;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(173, 126, 212);
}

a:hover {
    text-decoration: underline;
}

.label {
    font-size: 40px;
    text-align: center;
    color: #000;
}