body {
    background-color: rgba(75, 75, 75, 0.63);
    padding: 0;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    background-color: rgba(255, 255, 255, 0.815);
    width: 40%;
    padding: 30px;
}

.username input,
.password input {
    width: 100%;
    height: 40px;
    border: 0px;
    margin: 3px 3px 15px;
    box-sizing: border-box;
    padding: 15px 15px;
    font-size: 17px;
}

input:focus,
button:focus {
    outline: none;
}

button {
    background: #a463da;
    color: #fff;
    border: 0px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #b480df;
}

.checkbox {
    color: #808080;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    color: #000;
}

.fa {
    float: left;
    font-size: 18px;
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(173, 126, 212);
}

a:hover {
    text-decoration: underline;
}

.label {
    font-size: 40px;
    text-align: center;
    color: #000;
}